*{
    font-family: 'Exo 2', sans-serif !important;
    padding: 5px;
}
.cabecalho{
    width: 600px;
    display: flex;
    border: 0px, 50px, 0px, 50px;
    left: 500px;
    overflow: auto;
    margin-left: 400px;
}
.letreiro{
    display: flex;
}
.simbolo{
    margin-right: 80px;

}
p{
    font-size: 20px;
    float: initial;
    
}
    .candidato{
            line-height: 3.1;
    border-radius: 63px;
    top: 25px;
    padding: 0px 10px 0px 5px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
    background: #023062;
    color: white;
    text-align: center;
    right: 50px;
    position: absolute;
    display:inline-block;
    margin-right: 400px;
    cursor: pointer;
       img {
        width: 20px;
    }
    }
    .candidato:hover{
        background: #337ab7;

    }
    .titulo{
        height: 70px;
        justify-content: center;
        text-align: initial;
        border-bottom: 1px solid #d6d6d6;
    }
    .Otitulo{
        font-size: 35px;
        margin: 10px;
        font-family: inherit;
    }
label{
    left: 100px;
    display: flex;
}
.nome{
   border: 1px solid #d6d6d6;
   width: 900px;
   height: 48px;
}
form{
    text-align: center;
    border-style: solid;
    border: #023062;
}
input{
    border: 1px solid #d6d6d6;
    width: 900px;
    height: 30px;
    border-radius: 3px;
    display: flex;
}
select{
    border: 1px solid #d6d6d6;
    width: 900px;
    height: 48px;
}
.retangulo{
    width: 950px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin: -40px auto 40px auto;
    margin-top: 5px;
    border-top: 5px solid #023062;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dentro{
    width: 900px;
    text-align: center;
    padding: 30px;
}
footer{
    display: flex;
    justify-content: space-evenly;
}
.plvinicio{
    margin-left: 130px;
    color:  #007bff;
}
.siteSeguro{
    margin-right: 100px;
    color: #007bff;
    height: 35px;
}
.direitos{
    margin-top: 80px;
    font-size: 12px;
    color: rgb(112, 112, 112);
}
h3{
    background-color: #a9a9a91e;
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    padding: 20px 0px 1px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}
background: #035b8b url(/static/candidatos/img/menubg.png) top left repeat-x !important;
